In [4]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame([[1,2,3,],[4,5,6,],[7,8,9]], columns = ['A', 'B', 'C'], index= ['x', 'y', 'z'])
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [ ]:
df.index.to_list()
df.info()
df.describe()
df.shape()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [6]:
coffee = pd.read_csv(r'C:/Users/Rehan/Desktop/complete-pandas-tutorial/warmup-data/coffee.csv')

In [7]:
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35